@use "../colors" as *;

html.navy_theme,
html .navy_theme {
  --mat-sys-primary: #0c486d;
  --mat-sys-primary-fixed-dim: rgba(12, 72, 109, 0.3);
  --mat-sys-secondary: #{$color-secondary};
  --mat-sys-secondary-fixed-dim: #{$color-secondary-light};
}

